@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:wght@700&display=swap");
.Logo1 {
  width: 50px; }

h1 {
  font-size: 35px;
  text-align: center;
  padding: 10px; }

header {
  box-shadow: 0 4px 4px #464646e8; }

.navbar {
  background-color: #313131 !important; }
  .navbar-toggler {
    background-color: white;
    color: #6c6c6c; }

.navegacion div ul li a {
  display: flex;
  color: white;
  flex-direction: row; }
  .navegacion div ul li a:hover {
    color: #6c6c6c; }

footer {
  background-color: #313131;
  box-shadow: 0 4px 4px #464646e8;
  padding: 10px 0; }
  footer h2 {
    color: white;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    color: white; }
  footer ul {
    text-align: center;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center; }
    footer ul li {
      text-decoration: none;
      margin: 0 10px; }
  footer .Redes {
    display: inline; }
    footer .Redes .fb {
      margin: 0 10px;
      padding: 5px; }
    footer .Redes .tw {
      margin: 0 10px;
      padding: 5px; }
    footer .Redes .ig {
      margin: 0 10px;
      padding: 5px; }
    footer .Redes .Redes:hover {
      background-color: #808080; }
  footer .legales {
    text-align: center; }

.TitulosAlbums {
  font-size: 25px; }

.Album1 {
  width: 300px; }
  .Album1:hover {
    padding: 5px; }

.Album2 {
  width: 300px; }
  .Album2:hover {
    padding: 10px; }

.Album3 {
  width: 300px; }
  .Album3:hover {
    padding: 10px; }

.Album4 {
  width: 300px; }
  .Album4:hover {
    padding: 10px; }

.buttons {
  color: #e4e4e4;
  background-color: #313131;
  margin: 25px;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.0em; }

.Tracklists {
  color: black;
  list-style: decimal; }
  .Tracklists li {
    padding: 5px; }

.T {
  padding: 20px;
  text-align: center;
  font-size: 30px; }

.container {
  padding: 40px; }
  .container .Alejo {
    border-radius: 10px;
    width: 310px; }
  .container .quinto {
    width: 310px;
    border-radius: 10px; }
  .container .mododiablo {
    border-radius: 10px;
    width: 310px; }

.subtitulo1 {
  color: #313131 !important;
  text-align: center;
  font-size: 20px; }

.subtitulo2 {
  color: #313131 !important;
  text-align: center;
  font-size: 20px; }

.subtitulo3 {
  color: #313131 !important;
  text-align: center;
  font-size: 20px; }

.videos {
  margin: 20px;
  padding: 20px; }

.carousel-item {
  position: relative; }

.SubtituloShow {
  color: white;
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 24px; }

.SubtituloShow2 {
  color: white;
  position: absolute;
  top: 85%;
  text-align: center;
  font-size: 20px; }

@media screen and (max-width: 768px) {
  .Logo1 {
    width: 50px; }
  h1 {
    font-size: 35px;
    text-align: center; }
  header {
    box-shadow: 0 4px 4px #464646e8; }
  .navbar {
    background-color: #313131 !important; }
  .navbar-toggler {
    background-color: white;
    color: #6c6c6c; }
  .navegacion div ul li a {
    display: flex;
    color: white;
    flex-direction: row; }
  .navegacion div ul li a:hover {
    color: #6c6c6c; }
  footer {
    background-color: #313131;
    box-shadow: 0 4px 4px #464646e8;
    padding: 10px 0; }
  footer h3 {
    color: white;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    color: white; }
  footer ul {
    text-align: center;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center; }
  footer ul li {
    text-decoration: none;
    margin: 0 10px; }
  footer .Redes {
    display: inline; }
  footer .Redes .fb {
    margin: 0 10px;
    padding: 5px; }
  footer .Redes .tw {
    margin: 0 10px;
    padding: 5px; }
  footer .Redes .ig {
    margin: 0 10px;
    padding: 5px; }
  footer .Redes .Redes:hover {
    background-color: #808080; }
  footer .legales {
    text-align: center; }
  .antezana {
    width: 300px; }
  .hecho {
    width: 300px; }
  .tdv {
    width: 300px; }
  .ysysmo {
    width: 300px; }
  .container {
    padding: 40px; }
  .container .Alejo {
    border-radius: 10px;
    width: 300px; }
  .container .quinto {
    border-radius: 10px; }
  .container .mododiablo {
    border-radius: 10px;
    width: 310px; }
  .subtitulo1 {
    color: #313131 !important;
    text-align: center;
    font-size: 20px; }
  .subtitulo2 {
    color: #313131 !important;
    text-align: center;
    font-size: 20px; }
  .subtitulo3 {
    color: #313131 !important;
    text-align: center;
    font-size: 20px; }
  .videos {
    margin: 20px;
    padding: 20px; } }

@media screen and (max-width: 414px) {
  .image-container {
    padding: 10px; }
    .image-container img {
      margin-bottom: 10px; }
    .image-container p {
      font-size: 14px; } }

* {
  font-family: PT sans; }

.salto {
  width: 100%;
  height: auto; }

.image-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px; }
  .image-container img {
    max-width: 100%;
    height: auto; }
  .image-container p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px; }

@media screen and (max-width: 414px) {
  .image-container {
    padding: 10px; }
    .image-container img {
      margin-bottom: 10px; }
    .image-container p {
      font-size: 14px; } }
