@import'./secciones/header';
@import'./secciones/footer';
@import'./secciones/albums';
@import'./secciones/biografia';
@import'./secciones/entrevistas';
@import'./secciones/shows';
@import'./secciones/responsive';

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:wght@700&display=swap');
*{
    font-family: PT sans;
}
.salto{
    width: 100%;
    height: auto;
}

.inicio{
    color: white;
    position: absolute;
    top: 35%;
    left: auto;
    font-size: 16px;
    margin-top: 10px;
    }
  
  


