@import'./secciones/header';
@import'./secciones/footer';
@import'./secciones/albums';
@import'./secciones/biografia';
@import'./secciones/entrevistas';
@import'./secciones/shows';
@import'./secciones/responsive';

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans:wght@700&display=swap');
*{
    font-family: PT sans;
}
.salto{
    width: 100%;
    height: auto;
}
.contenedor-imagen {
    position: relative;
    max-width: 100%;
}
.inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.653);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000033;
}