$gris: #313131 ;
.TitulosAlbums{
    font-size: 25px;
}    
img:hover{
    padding: 10px;
}
.Album1{
    width: 300px;
}

.Album2{
    width: 300px;
}

.Album3{
    width: 300px;
}

.Album4{
    width: 300px;
}
.buttons{    
    color: rgb(228, 228, 228);
    background-color: $gris;
    margin: 25px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.0em;
}
.Tracklists{
    li{
        padding: 5px;
    }
    color: black;
    list-style: decimal;
}
