$gris: #313131 ;
.TitulosAlbums{
    font-size: 25px;
}    
.Album1{
    &:hover{
        padding: 5px;
    }
    width: 300px;
}

.Album2{
    width: 300px;
    &:hover{
        padding: 10px;
    }
}

.Album3{
    width: 300px;
    &:hover{
        padding: 10px;
    }
}

.Album4{
    width: 300px;
    &:hover{
        padding: 10px;
    }
}
.A247{
    display: flex;
    justify-content: space-around
}
.HAM{
    display: flex;
    justify-content: space-around
}
.TDV{
    display: flex;
    justify-content: space-around
}
.YSM{
    display: flex;
    justify-content: space-around
}
.buttons{    
    color: rgb(228, 228, 228);
    background-color: $gris;
    margin: 25px;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.0em;
}
.Tracklists{
    background-color: #5d5d5db0;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000033;
    color: white;
    list-style: decimal;
    li{
        padding: 5px;
    }

}
