.T{
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.container{
    padding: 40px;
    .Alejo{
        border-radius: 10px;
        width: 310px;
    }    
    .quinto{
        width: 310px;
        border-radius: 10px;
    }
    .mododiablo{
        border-radius: 10px;
        width: 310px;
    }

}
.subtitulo1{
    color: #313131 !important;
    text-align: center;
    font-size: 20px;    
}
.subtitulo2{
    color: #313131 !important;
    text-align: center;
    font-size: 20px;    
}
.subtitulo3{
    color: #313131 !important;
    text-align: center;
    font-size: 20px;    
}