footer{
    background-color: #313131;
    box-shadow: 0 4px 4px #7d7d7de8;
}

h2{
    margin-top: 25px;
    text-align: center;
    color: white;
}

ul{
    text-align: center ;
    list-style: none ;
    color: white;
}

li{
    text-decoration: none;
}

.d-flex{
    justify-content: center;
}  

.fb{
    margin: 0 5px;
    padding: 5px;
}

.tw{
    margin: 0 5px;
    padding: 5px;
}

.ig{
    margin: 0 5px;
    padding: 5px;
}