$gris: #313131 ;
$blanco: white ;
$sombra: #464646e8;
$click: #6c6c6c;
footer {
    background-color: $gris;
    box-shadow: 0 4px 4px $sombra;
    padding: 10px 0;
  
    h2 {
        color: white;
        font-size: 25px;
      margin-top: 25px;
      text-align: center;
      color: $blanco;
    }
  
    ul {
      text-align: center;
      list-style: none;
      color: $blanco;
      display: flex;
      justify-content: center;
  
      li {
        text-decoration: none;
        margin: 0 10px;
      }
    }
  
    .Redes {
        display: inline;
  
      .fb {
        margin: 0 10px;
        padding: 5px;
      }
  
      .tw {
        margin: 0 10px;
        padding: 5px;
      }
  
      .ig {
        margin: 0 10px;
        padding: 5px;
      }
    .Redes:hover{
        background-color: #808080;
    }
    }
  
    .legales {
      text-align: center;
    }
  }
  













