$gris: #313131 ;
$blanco: white ;
$sombra: #464646e8;
$click: #6c6c6c;
.Logo1 {
    width: 50px;
  }
  
  h1 {
    font-size: 35px;
    text-align: center;
  }
  
  header {
    box-shadow: 0 4px 4px $sombra;
  }
  
  .navbar {
    background-color: $gris !important;
  
    &-toggler {
      background-color: $blanco;
      color: #6c6c6c;
    }
  }
  
  .navegacion {
    div {
      ul {
        li {
          a {
            display: flex;
            color: $blanco;
            flex-direction: row;
  
            &:hover {
              color: $click;
            }
          }
        }
      }
    }
  }
  
